In [3]:
import pandas as pd
import numpy as np

In [4]:
entire_dataset=pd.read_csv("C:/Users/iGuest/Desktop/capstone/jul15-cps.csv")
statecode= pd.read_csv("C:/Users/iGuest/Desktop/capstone/statecode.csv")

In [5]:
#merge on state code file to get state name
entire_dataset = entire_dataset.merge(statecode, left_on="gestfips", right_on = "gestfips")

In [6]:
#filter for valid responses
entire_dataset = entire_dataset[(entire_dataset['hufinal'].isin([1,201]))]

### For Section 1: Internet Usage by Map

In [8]:
#create list for columns and rows
states = entire_dataset.statename.unique()
internet_by_location = ['peinhome','peinwork','peinschl','peincafe','peintrav', 'peinlico', 'peinelho', 'peinothr']

In [9]:
#calculate the internet usage by location for each state
def internet_by_loc(df,state,loc):
    state_df = df.loc[(df['statename']==state)&(df[loc]!=-1)]
    a=(state_df.pwsswgt).sum()
    state_df_loc = state_df[(state_df[loc] == 1)]
    b1 = state_df_loc.pwsswgt.sum()
    return b1/a

In [10]:
#loop through all states in US
data_dic = {}
for i in states:
    loc_lst = []
    for j in internet_by_location:
        loc_lst.append(internet_by_loc(entire_dataset,i,j))
    data_dic[i] = loc_lst

In [11]:
loc_df = pd.DataFrame.from_dict(data_dic, orient='index')
loc_df.columns = internet_by_location
loc_df

,peinhome,peinwork,peinschl,peincafe,peintrav,peinlico,peinelho,peinothr
Alabama,0.629927,0.535999,0.139548,0.112929,0.269916,0.136625,0.167080,0.014581
Connecticut,0.730460,0.602454,0.163063,0.144981,0.289031,0.178794,0.241344,0.024061
Delaware,0.710205,0.614612,0.175661,0.134346,0.274951,0.183985,0.206997,0.014931
District of Columbia,0.693995,0.730714,0.141291,0.296337,0.435275,0.289874,0.336317,0.035489
Florida,0.654104,0.524739,0.132852,0.124857,0.267825,0.150422,0.155587,0.008618
Georgia,0.660626,0.568667,0.178719,0.157263,0.321905,0.188771,0.213904,0.024083
Kentucky,0.690126,0.613805,0.152854,0.146349,0.318101,0.159568,0.245427,0.012291
Louisiana,0.662222,0.602156,0.164859,0.119264,0.308424,0.172627,0.226328,0.009429
Maine,0.733251,0.610817,0.157925,0.179939,0.360689,0.186992,0.289234,0.016160
Maryland,0.738112,0.623906,0.147954,0.163669,0.336915,0.195664,0.236005,0.033772
Massachusetts,0.718393,0.610173,0.143977,0.170839,0.332020,0.187322,0.270849,0.023391
Mississippi,0.580970,0.485789,0.180342,0.092739,0.288613,0.151409,0.143703,0.006525
New Hampshire,0.758157,0.562828,0.150410,0.153519,0.325188,0.176186,0.265363,0.023996
New Jersey,0.727526,0.606213,0.158808,0.142244,0.345197,0.191392,0.253173,0.017603
New York,0.662380,0.527307,0.133979,0.130499,0.270936,0.174636,0.202034,0.021038
North Carolina,0.626169,0.522758,0.152732,0.139399,0.301267,0.171511,0.195720,0.016757
Ohio,0.683280,0.555901,0.150687,0.162785,0.306242,0.165416,0.276809,0.015014
Pennsylvania,0.657448,0.504800,0.135021,0.127498,0.299476,0.147247,0.248104,0.021993
Rhode Island,0.742476,0.566198,0.162751,0.110731,0.293745,0.160393,0.232734,0.016924
South Carolina,0.656880,0.547408,0.147703,0.130451,0.299314,0.154383,0.211481,0.022900
Tennessee,0.623800,0.504293,0.120433,0.161330,0.282552,0.141470,0.204494,0.009068
Vermont,0.764492,0.607879,0.161848,0.179490,0.352794,0.159755,0.226935,0.024562
Virginia,0.744316,0.614434,0.158276,0.180420,0.374828,0.176301,0.249916,0.030454
Alaska,0.731942,0.596780,0.163647,0.177131,0.358015,0.179390,0.237144,0.021714
Arizona,0.633164,0.535762,0.146640,0.125453,0.299119,0.132426,0.185819,0.014635
Arkansas,0.634456,0.541187,0.151554,0.124503,0.257032,0.143005,0.182818,0.015266
California,0.667593,0.543021,0.149883,0.171736,0.322876,0.170521,0.212865,0.018386
Colorado,0.677894,0.587608,0.161383,0.220210,0.371008,0.222769,0.268372,0.023138
Hawaii,0.656322,0.536142,0.145581,0.151038,0.307856,0.175082,0.192073,0.012876
Idaho,0.758961,0.610194,0.177638,0.187666,0.370909,0.177534,0.268507,0.022220
Illinois,0.756225,0.613118,0.186239,0.196791,0.381674,0.210674,0.265699,0.024238
Indiana,0.710463,0.554247,0.165697,0.158659,0.314151,0.181813,0.220955,0.024611
Iowa,0.723697,0.594916,0.173239,0.183771,0.330843,0.208387,0.295459,0.021038
Kansas,0.667587,0.547179,0.173728,0.132574,0.314975,0.140691,0.213402,0.014805
Michigan,0.692647,0.532147,0.159604,0.182728,0.329059,0.201242,0.266528,0.019853
Minnesota,0.762292,0.562353,0.170665,0.188674,0.381237,0.164602,0.276534,0.022837
Missouri,0.685157,0.589794,0.183080,0.177337,0.356478,0.178265,0.255338,0.030011
Montana,0.686998,0.574962,0.150417,0.183396,0.345318,0.188454,0.266126,0.013654
Nebraska,0.689911,0.557749,0.199346,0.142707,0.329156,0.183732,0.232254,0.021959
Nevada,0.728277,0.575199,0.150090,0.158484,0.333308,0.158015,0.174120,0.008215
New Mexico,0.609734,0.523280,0.166398,0.166518,0.285727,0.176115,0.164343,0.016550
North Dakota,0.664474,0.532281,0.156016,0.147848,0.296399,0.144763,0.240966,0.011482
Oklahoma,0.608840,0.545356,0.155950,0.140589,0.277342,0.141050,0.197461,0.005893
Oregon,0.750196,0.599305,0.161619,0.243446,0.378818,0.201725,0.281408,0.034092
South Dakota,0.630944,0.505575,0.148655,0.116610,0.260813,0.108784,0.181143,0.015293
Texas,0.638100,0.548029,0.161536,0.161501,0.304964,0.170462,0.198628,0.016684
Utah,0.734308,0.590362,0.175005,0.144565,0.363999,0.194711,0.288839,0.061325
Washington,0.726934,0.608084,0.132525,0.217984,0.397176,0.214669,0.283313,0.020328
West Virginia,0.633607,0.534745,0.141520,0.132283,0.263294,0.107946,0.191940,0.012200
Wisconsin,0.773273,0.566364,0.183717,0.186267,0.349961,0.193458,0.281064,0.012509

### For Section 2: Bar and Pie Chart

In [12]:
def ageband(row):
    if row['prtage'] in range(7,23):
        return '07-22'
    elif row['prtage'] in range(23,39):
        return '23-38' 
    elif row['prtage'] in range(39,53):
        return '39-52'
    elif row['prtage'] in range(53,72):
        return '53-71' 
    elif row['prtage']> 72:
        return '72+'
#add a column for age band using prtage
entire_dataset['ageband'] = entire_dataset.apply(ageband, axis=1)

In [46]:
def psex(row):
    if row['pesex'] == 1:
        return 'Male'
    elif row['pesex'] == 2:
        return 'Female' 
#add a column for age band using prtage
entire_dataset['sex'] = entire_dataset.apply(psex, axis=1)

In [13]:
pie_df = entire_dataset.groupby(['statename','ageband'])
pie_df = pd.DataFrame(pie_df.size())
pie_df =pie_df.reset_index()
pie_df = pie_df.rename(index=str, columns={0: "age_count"})

In [47]:
pie_sex_df = entire_dataset.groupby(['statename','sex'])
pie_sex_df = pd.DataFrame(pie_sex_df.size())
pie_sex_df =pie_sex_df.reset_index()
pie_sex_df = pie_sex_df.rename(index=str, columns={0: "sex_count"})

In [14]:
def count_age_loc(location,df,pie_df):
    filtered_df = df.loc[df[location] == 1]
    count_list = filtered_df.groupby(['statename','ageband']).count()[location].tolist()
    if len(count_list) == pie_df.shape[0]:
        pie_df.insert(loc=3, column=location+'_count', value=count_list)

In [51]:
def count_sex_loc(location,df,pie_df):
    filtered_df = df.loc[df[location] == 1]
    count_list = filtered_df.groupby(['statename','sex']).count()[location].tolist()
    if len(count_list) == pie_df.shape[0]:
        pie_df.insert(loc=3, column=location+'_count', value=count_list)

In [52]:
for i in internet_by_location:
    count_sex_loc(i,entire_dataset,pie_sex_df)

In [15]:
for i in internet_by_location:
    count_age_loc(i,entire_dataset,pie_df)

In [53]:
pie_sex_df

,statename,sex,sex_count,peinothr_count,peinelho_count,peinlico_count,peintrav_count,peincafe_count,peinschl_count,peinwork_count,peinhome_count
0,Alabama,Female,1315,19,218,175,341,149,162,295,811
1,Alabama,Male,1200,17,180,143,308,118,160,281,713
2,Alaska,Female,806,17,193,142,275,142,123,245,560
3,Alaska,Male,787,17,162,128,254,121,133,219,523
4,Arizona,Female,1090,11,198,139,307,140,179,224,686
5,Arizona,Male,968,15,155,112,261,98,125,230,557
6,Arkansas,Female,1203,17,217,179,298,150,180,286,748
7,Arkansas,Male,1149,17,193,132,282,128,165,266,687
8,California,Female,5703,106,1188,968,1700,932,807,1325,3614
9,California,Male,5428,92,1079,836,1729,887,835,1467,3508
10,Colorado,Female,835,21,210,185,289,182,118,248,529
11,Colorado,Male,799,16,208,164,284,164,134,242,528
12,Connecticut,Female,702,16,158,119,190,101,110,200,491
13,Connecticut,Male,653,16,156,116,198,87,92,215,467
14,Delaware,Female,689,9,137,116,178,87,113,212,471
15,Delaware,Male,644,12,128,113,180,86,99,189,439
16,District of Columbia,Female,1000,39,322,289,430,294,121,419,659
17,District of Columbia,Male,880,30,298,229,387,260,115,377,604
18,Florida,Female,2818,23,451,427,724,338,376,658,1808
19,Florida,Male,2559,22,362,341,672,309,303,658,1591
20,Georgia,Female,1445,38,297,263,446,222,237,340,932
21,Georgia,Male,1282,27,260,229,387,183,230,335,784
22,Hawaii,Female,1029,11,179,166,294,139,141,248,641
23,Hawaii,Male,967,13,178,159,283,142,135,245,608
24,Idaho,Female,982,20,259,172,365,175,182,266,724
25,Idaho,Male,986,21,251,169,347,185,160,316,718
26,Illinois,Female,2025,50,537,438,727,396,351,617,1478
27,Illinois,Male,1861,42,455,338,706,340,332,581,1366
28,Indiana,Female,986,23,211,168,314,149,149,272,691
29,Indiana,Male,940,23,195,159,270,141,143,272,630
...,...,...,...,...,...,...,...,...,...,...,...
70,Ohio,Female,1781,22,472,295,507,268,254,434,1191
71,Ohio,Male,1575,27,398,227,464,240,221,455,998
72,Oklahoma,Female,949,8,175,146,254,128,136,224,580
73,Oklahoma,Male,904,3,173,106,242,118,139,222,507
74,Oregon,Female,1026,37,294,211,377,250,165,277,749
75,Oregon,Male,967,28,242,176,349,216,150,292,688
76,Pennsylvania,Female,1829,37,446,263,528,231,234,459,1176
77,Pennsylvania,Male,1748,40,398,229,504,201,205,439,1108
78,Rhode Island,Female,652,12,161,110,192,74,94,202,470
79,Rhode Island,Male,591,10,109,73,165,57,79,176,427
80,South Carolina,Female,1010,16,224,166,304,134,136,233,661
81,South Carolina,Male,897,21,156,110,243,101,115,235,537
82,South Dakota,Female,782,9,137,86,195,80,113,228,478
83,South Dakota,Male,752,13,120,66,175,83,104,168,425
84,Tennessee,Female,1207,11,237,171,335,199,118,250,729
85,Tennessee,Male,1132,10,211,142,294,158,138,258,664
86,Texas,Female,3563,54,653,583,1013,556,524,853,2178
87,Texas,Male,3474,58,652,538,1000,509,564,905,2089
88,Utah,Female,953,61,265,178,317,127,144,228,640
89,Utah,Male,1007,56,274,189,362,143,169,341,727
90,Vermont,Female,856,21,178,129,298,147,130,298,655
91,Vermont,Male,851,21,188,130,279,146,118,275,614
92,Virginia,Female,1230,43,295,209,420,212,170,328,873
93,Virginia,Male,1100,24,249,174,399,178,168,351,782
94,Washington,Female,1214,24,330,257,470,260,140,327,850
95,Washington,Male,1198,24,315,228,447,244,147,374,832
96,West Virginia,Female,1508,13,284,161,381,193,194,328,937
97,West Virginia,Male,1522,19,258,146,368,181,207,323,897
98,Wisconsin,Female,900,12,242,164,300,159,150,275,676
99,Wisconsin,Male,882,11,229,161,294,158,138,270,660

In [16]:
#find states with null values for peincafe
filtered_df = entire_dataset.loc[entire_dataset['peincafe'] == 1]
count_list = pd.DataFrame(filtered_df.groupby(['statename','ageband'])['peincafe'].count())
count_list = count_list.reset_index()
for i in states:
    if count_list.loc[count_list.statename==i].ageband.count() != 5:
        print (i)

North Dakota

In [17]:
count_list[count_list.statename=='North Dakota'].ageband

170    07-22
171    23-38
172    39-52
173    53-71
Name: ageband, dtype: object

In [18]:
#insert zero for null value for 'peincafe' column
filtered_df = entire_dataset.loc[entire_dataset['peincafe'] == 1]
count_list = filtered_df.groupby(['statename','ageband']).count()['peincafe'].tolist()
count_list.insert(174,0)
pie_df.insert(loc=3, column='peincafe_count', value=count_list)

In [19]:
#find states with null values
st = []
filtered_df = entire_dataset.loc[entire_dataset['peinschl'] == 1]
count_list = pd.DataFrame(filtered_df.groupby(['statename','ageband'])['peinschl'].count())
count_list = count_list.reset_index()
for i in states:
    if count_list.loc[count_list.statename==i].ageband.count() != 5:
        st.append(i)
len(st)

20

In [20]:
idx_lst = []
for i in st:
    t = count_list[count_list.statename==i].ageband.index.tolist()
    idx_lst.append(max(t))
    #count_list.append('72+')
idx_lst.sort()
count = 0
for i in range(len(idx_lst)):
    idx_lst[i] = idx_lst[i]+1+count
    count += 1
#insert zero for null value for 'peinothr' column
filtered_df = entire_dataset.loc[entire_dataset['peinschl'] == 1]
count_list = filtered_df.groupby(['statename','ageband']).count()['peinschl'].tolist()
for i in idx_lst:
    count_list.insert(i,0)
pie_df.insert(loc=3, column='peinschl_count', value=count_list)

In [21]:
#find states with null values for peinothr
filtered_df = entire_dataset.loc[entire_dataset['peinothr'] == 1]
count_list = pd.DataFrame(filtered_df.groupby(['statename','ageband'])['peinothr'].count())
count_list = count_list.reset_index()
for i in states:
    if count_list.loc[count_list.statename==i].ageband.count() != 5:
        print (i)

Delaware
New Hampshire
Pennsylvania
Colorado
Kansas
New Mexico
Oklahoma
Oregon
South Dakota
West Virginia

In [22]:
st = ['Delaware',
'New Hampshire',
'Pennsylvania',
'Colorado',
'Kansas',
'New Mexico',
'Oklahoma',
'Oregon',
'South Dakota',
'West Virginia']

In [23]:
for i in st:
    print (count_list[count_list.statename==i].ageband)

34    23-38
35    39-52
36    53-71
37      72+
Name: ageband, dtype: object
142    07-22
143    23-38
144    39-52
145    53-71
Name: ageband, dtype: object
183    07-22
184    23-38
185    39-52
186    53-71
Name: ageband, dtype: object
25    07-22
26    23-38
27    39-52
28    53-71
Name: ageband, dtype: object
78    07-22
79    23-38
80    39-52
81    53-71
Name: ageband, dtype: object
151    07-22
152    23-38
153    39-52
154    53-71
Name: ageband, dtype: object
175    07-22
176    23-38
177    39-52
178    53-71
Name: ageband, dtype: object
179    07-22
180    23-38
181    39-52
182    53-71
Name: ageband, dtype: object
197    07-22
198    23-38
199    39-52
200    53-71
Name: ageband, dtype: object
231    07-22
232    23-38
233    39-52
234    53-71
Name: ageband, dtype: object

In [24]:
#insert zero for null value for 'peinothr' column
filtered_df = entire_dataset.loc[entire_dataset['peinothr'] == 1]
count_list = filtered_df.groupby(['statename','ageband']).count()['peinothr'].tolist()
count_list.insert(29,0)
count_list.insert(35,0)
count_list.insert(84,0)
count_list.insert(149,0)
count_list.insert(159,0)
count_list.insert(184,0)
count_list.insert(189,0)
count_list.insert(194,0)
count_list.insert(209,0)
count_list.insert(244,0)
pie_df.insert(loc=3, column='peinothr_count', value=count_list)

In [77]:
#pie_df.set_index(['statename','ageband'], inplace=True)
order = ['peinhome_count','peinwork_count','peintrav_count','peinlico_count','peinelho_count','peincafe_count','peinschl_count','peinothr_count']
age = ['7-22','23-38', '39-52', '53-71', '72+']
col_name = ['Home','Work','Travel','Public','OthersHome','School','Cafe','Others']

In [78]:
pie_data = {}
for state in states:
    freqs = list()
    for i in range(len(order)):
        location = order[i]
        freq_lst = pie_df.loc[pie_df.statename == state][location].tolist()
        freq = dict()
        freq ['sumbygroup'] = dict(zip(age, pie_df.loc[pie_df.statename == state].age_count.tolist()))
        freq ['sum'] = pie_df.loc[pie_df.statename == state].age_count.sum()
        freq['State'] = col_name[i]
        freq['freq'] = dict(zip(age, freq_lst))
        freqs.append(freq)
    pie_data[state] = freqs

In [79]:
pie_data

{'Alabama': [{'State': 'Home',
   'freq': {'23-38': 330, '39-52': 335, '53-71': 390, '7-22': 333, '72+': 91},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}},
  {'State': 'Work',
   'freq': {'23-38': 183, '39-52': 207, '53-71': 160, '7-22': 18, '72+': 7},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}},
  {'State': 'Travel',
   'freq': {'23-38': 176, '39-52': 168, '53-71': 150, '7-22': 123, '72+': 25},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}},
  {'State': 'Public',
   'freq': {'23-38': 82, '39-52': 75, '53-71': 49, '7-22': 97, '72+': 7},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}},
  {'State': 'OthersHome',
   'freq': {'23-38': 105, '39-52': 103, '53-71': 66, '7-22': 113, '72+': 6},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}},
  {'State': 'School',
   'freq': {'23-38': 69, '39-52': 80, '53-71': 41, '7-22': 64, '72+': 7},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}},
  {'State': 'Cafe',
   'freq': {'23-38': 35, '39-52': 18, '53-71': 5, '7-22': 244, '72+': 0},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}},
  {'State': 'Others',
   'freq': {'23-38': 3, '39-52': 10, '53-71': 11, '7-22': 7, '72+': 4},
   'sum': 2294,
   'sumbygroup': {'23-38': 450,
    '39-52': 474,
    '53-71': 636,
    '7-22': 515,
    '72+': 219}}],
 'Alaska': [{'State': 'Home',
   'freq': {'23-38': 303, '39-52': 217, '53-71': 228, '7-22': 249, '72+': 37},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}},
  {'State': 'Work',
   'freq': {'23-38': 179, '39-52': 149, '53-71': 107, '7-22': 24, '72+': 3},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}},
  {'State': 'Travel',
   'freq': {'23-38': 176, '39-52': 124, '53-71': 106, '7-22': 96, '72+': 13},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}},
  {'State': 'Public',
   'freq': {'23-38': 84, '39-52': 54, '53-71': 49, '7-22': 67, '72+': 7},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}},
  {'State': 'OthersHome',
   'freq': {'23-38': 113, '39-52': 76, '53-71': 54, '7-22': 86, '72+': 10},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}},
  {'State': 'School',
   'freq': {'23-38': 93, '39-52': 63, '53-71': 43, '7-22': 53, '72+': 5},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}},
  {'State': 'Cafe',
   'freq': {'23-38': 34, '39-52': 14, '53-71': 9, '7-22': 179, '72+': 0},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}},
  {'State': 'Others',
   'freq': {'23-38': 4, '39-52': 9, '53-71': 10, '7-22': 7, '72+': 3},
   'sum': 1393,
   'sumbygroup': {'23-38': 384,
    '39-52': 272,
    '53-71': 312,
    '7-22': 359,
    '72+': 66}}],
 'Arizona': [{'State': 'Home',
   'freq': {'23-38': 293, '39-52': 230, '53-71': 284, '7-22': 303, '72+': 82},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}},
  {'State': 'Work',
   'freq': {'23-38': 170, '39-52': 147, '53-71': 112, '7-22': 21, '72+': 3},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}},
  {'State': 'Travel',
   'freq': {'23-38': 177, '39-52': 115, '53-71': 134, '7-22': 102, '72+': 30},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}},
  {'State': 'Public',
   'freq': {'23-38': 75, '39-52': 29, '53-71': 39, '7-22': 93, '72+': 6},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}},
  {'State': 'OthersHome',
   'freq': {'23-38': 112, '39-52': 50, '53-71': 62, '7-22': 97, '72+': 17},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}},
  {'State': 'School',
   'freq': {'23-38': 86, '39-52': 48, '53-71': 44, '7-22': 48, '72+': 5},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}},
  {'State': 'Cafe',
   'freq': {'23-38': 32, '39-52': 10, '53-71': 7, '7-22': 235, '72+': 0},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}},
  {'State': 'Others',
   'freq': {'23-38': 7, '39-52': 3, '53-71': 10, '7-22': 5, '72+': 1},
   'sum': 1861,
   'sumbygroup': {'23-38': 425,
    '39-52': 332,
    '53-71': 449,
    '7-22': 483,
    '72+': 172}}],
 'Arkansas': [{'State': 'Home',
   'freq': {'23-38': 335, '39-52': 308, '53-71': 324, '7-22': 346, '72+': 49},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}},
  {'State': 'Work',
   'freq': {'23-38': 202, '39-52': 177, '53-71': 133, '7-22': 29, '72+': 8},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}},
  {'State': 'Travel',
   'freq': {'23-38': 172, '39-52': 124, '53-71': 127, '7-22': 122, '72+': 16},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}},
  {'State': 'Public',
   'freq': {'23-38': 89, '39-52': 65, '53-71': 34, '7-22': 98, '72+': 5},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}},
  {'State': 'OthersHome',
   'freq': {'23-38': 128, '39-52': 76, '53-71': 54, '7-22': 124, '72+': 7},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}},
  {'State': 'School',
   'freq': {'23-38': 80, '39-52': 58, '53-71': 49, '7-22': 81, '72+': 2},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}},
  {'State': 'Cafe',
   'freq': {'23-38': 39, '39-52': 21, '53-71': 9, '7-22': 250, '72+': 0},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}},
  {'State': 'Others',
   'freq': {'23-38': 11, '39-52': 7, '53-71': 8, '7-22': 7, '72+': 1},
   'sum': 2108,
   'sumbygroup': {'23-38': 467,
    '39-52': 439,
    '53-71': 555,
    '7-22': 496,
    '72+': 151}}],
 'California': [{'State': 'Home',
   'freq': {'23-38': 1785,
    '39-52': 1497,
    '53-71': 1560,
    '7-22': 1610,
    '72+': 367},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}},
  {'State': 'Work',
   'freq': {'23-38': 997, '39-52': 885, '53-71': 733, '7-22': 125, '72+': 41},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}},
  {'State': 'Travel',
   'freq': {'23-38': 1039,
    '39-52': 851,
    '53-71': 753,
    '7-22': 590,
    '72+': 123},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}},
  {'State': 'Public',
   'freq': {'23-38': 515, '39-52': 329, '53-71': 290, '7-22': 563, '72+': 29},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}},
  {'State': 'OthersHome',
   'freq': {'23-38': 690, '39-52': 465, '53-71': 408, '7-22': 548, '72+': 73},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}},
  {'State': 'School',
   'freq': {'23-38': 600, '39-52': 399, '53-71': 380, '7-22': 356, '72+': 47},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}},
  {'State': 'Cafe',
   'freq': {'23-38': 227, '39-52': 79, '53-71': 38, '7-22': 1158, '72+': 3},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}},
  {'State': 'Others',
   'freq': {'23-38': 66, '39-52': 40, '53-71': 43, '7-22': 33, '72+': 10},
   'sum': 10062,
   'sumbygroup': {'23-38': 2409,
    '39-52': 2093,
    '53-71': 2314,
    '7-22': 2454,
    '72+': 792}}],
 'Colorado': [{'State': 'Home',
   'freq': {'23-38': 259, '39-52': 245, '53-71': 258, '7-22': 205, '72+': 47},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}},
  {'State': 'Work',
   'freq': {'23-38': 172, '39-52': 174, '53-71': 127, '7-22': 15, '72+': 2},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}},
  {'State': 'Travel',
   'freq': {'23-38': 188, '39-52': 155, '53-71': 119, '7-22': 85, '72+': 14},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}},
  {'State': 'Public',
   'freq': {'23-38': 96, '39-52': 88, '53-71': 60, '7-22': 85, '72+': 10},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}},
  {'State': 'OthersHome',
   'freq': {'23-38': 126, '39-52': 98, '53-71': 72, '7-22': 105, '72+': 6},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}},
  {'State': 'School',
   'freq': {'23-38': 108, '39-52': 95, '53-71': 71, '7-22': 52, '72+': 15},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}},
  {'State': 'Cafe',
   'freq': {'23-38': 31, '39-52': 14, '53-71': 12, '7-22': 175, '72+': 0},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}},
  {'State': 'Others',
   'freq': {'23-38': 13, '39-52': 9, '53-71': 11, '7-22': 3, '72+': 0},
   'sum': 1468,
   'sumbygroup': {'23-38': 360,
    '39-52': 331,
    '53-71': 351,
    '7-22': 331,
    '72+': 95}}],
 'Connecticut': [{'State': 'Home',
   'freq': {'23-38': 193, '39-52': 217, '53-71': 244, '7-22': 218, '72+': 52},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}},
  {'State': 'Work',
   'freq': {'23-38': 128, '39-52': 131, '53-71': 127, '7-22': 21, '72+': 6},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}},
  {'State': 'Travel',
   'freq': {'23-38': 109, '39-52': 105, '53-71': 94, '7-22': 62, '72+': 13},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}},
  {'State': 'Public',
   'freq': {'23-38': 56, '39-52': 49, '53-71': 55, '7-22': 60, '72+': 7},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}},
  {'State': 'OthersHome',
   'freq': {'23-38': 85, '39-52': 77, '53-71': 58, '7-22': 77, '72+': 9},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}},
  {'State': 'School',
   'freq': {'23-38': 68, '39-52': 43, '53-71': 35, '7-22': 37, '72+': 3},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}},
  {'State': 'Cafe',
   'freq': {'23-38': 15, '39-52': 13, '53-71': 8, '7-22': 155, '72+': 0},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}},
  {'State': 'Others',
   'freq': {'23-38': 10, '39-52': 6, '53-71': 11, '7-22': 3, '72+': 2},
   'sum': 1253,
   'sumbygroup': {'23-38': 241,
    '39-52': 262,
    '53-71': 336,
    '7-22': 279,
    '72+': 135}}],
 'Delaware': [{'State': 'Home',
   'freq': {'23-38': 201, '39-52': 184, '53-71': 244, '7-22': 187, '72+': 64},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}},
  {'State': 'Work',
   'freq': {'23-38': 132, '39-52': 121, '53-71': 124, '7-22': 14, '72+': 9},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}},
  {'State': 'Travel',
   'freq': {'23-38': 103, '39-52': 87, '53-71': 109, '7-22': 38, '72+': 14},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}},
  {'State': 'Public',
   'freq': {'23-38': 61, '39-52': 41, '53-71': 38, '7-22': 72, '72+': 11},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}},
  {'State': 'OthersHome',
   'freq': {'23-38': 66, '39-52': 57, '53-71': 68, '7-22': 54, '72+': 12},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}},
  {'State': 'School',
   'freq': {'23-38': 50, '39-52': 40, '53-71': 40, '7-22': 35, '72+': 4},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}},
  {'State': 'Cafe',
   'freq': {'23-38': 20, '39-52': 13, '53-71': 4, '7-22': 152, '72+': 2},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}},
  {'State': 'Others',
   'freq': {'23-38': 4, '39-52': 5, '53-71': 10, '7-22': 0, '72+': 2},
   'sum': 1233,
   'sumbygroup': {'23-38': 256,
    '39-52': 243,
    '53-71': 350,
    '7-22': 262,
    '72+': 122}}],
 'District of Columbia': [{'State': 'Home',
   'freq': {'23-38': 513, '39-52': 272, '53-71': 222, '7-22': 173, '72+': 57},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}},
  {'State': 'Work',
   'freq': {'23-38': 406, '39-52': 203, '53-71': 130, '7-22': 38, '72+': 16},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}},
  {'State': 'Travel',
   'freq': {'23-38': 376, '39-52': 183, '53-71': 145, '7-22': 77, '72+': 26},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}},
  {'State': 'Public',
   'freq': {'23-38': 208, '39-52': 96, '53-71': 71, '7-22': 112, '72+': 14},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}},
  {'State': 'OthersHome',
   'freq': {'23-38': 317, '39-52': 115, '53-71': 75, '7-22': 85, '72+': 18},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}},
  {'State': 'School',
   'freq': {'23-38': 297, '39-52': 107, '53-71': 82, '7-22': 54, '72+': 12},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}},
  {'State': 'Cafe',
   'freq': {'23-38': 74, '39-52': 13, '53-71': 9, '7-22': 117, '72+': 2},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}},
  {'State': 'Others',
   'freq': {'23-38': 32, '39-52': 19, '53-71': 11, '7-22': 3, '72+': 2},
   'sum': 1734,
   'sumbygroup': {'23-38': 629,
    '39-52': 347,
    '53-71': 365,
    '7-22': 252,
    '72+': 141}}],
 'Florida': [{'State': 'Home',
   'freq': {'23-38': 773, '39-52': 733, '53-71': 875, '7-22': 669, '72+': 238},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}},
  {'State': 'Work',
   'freq': {'23-38': 445, '39-52': 411, '53-71': 375, '7-22': 62, '72+': 19},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}},
  {'State': 'Travel',
   'freq': {'23-38': 379, '39-52': 334, '53-71': 380, '7-22': 200, '72+': 73},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}},
  {'State': 'Public',
   'freq': {'23-38': 195, '39-52': 160, '53-71': 141, '7-22': 228, '72+': 22},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}},
  {'State': 'OthersHome',
   'freq': {'23-38': 262, '39-52': 167, '53-71': 156, '7-22': 177, '72+': 25},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}},
  {'State': 'School',
   'freq': {'23-38': 192, '39-52': 160, '53-71': 135, '7-22': 124, '72+': 26},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}},
  {'State': 'Cafe',
   'freq': {'23-38': 117, '39-52': 45, '53-71': 20, '7-22': 445, '72+': 1},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}},
  {'State': 'Others',
   'freq': {'23-38': 12, '39-52': 12, '53-71': 14, '7-22': 3, '72+': 3},
   'sum': 4928,
   'sumbygroup': {'23-38': 1044,
    '39-52': 1038,
    '53-71': 1343,
    '7-22': 978,
    '72+': 525}}],
 'Georgia': [{'State': 'Home',
   'freq': {'23-38': 461, '39-52': 378, '53-71': 361, '7-22': 388, '72+': 60},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}},
  {'State': 'Work',
   'freq': {'23-38': 248, '39-52': 230, '53-71': 168, '7-22': 23, '72+': 4},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}},
  {'State': 'Travel',
   'freq': {'23-38': 276, '39-52': 207, '53-71': 156, '7-22': 158, '72+': 15},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}},
  {'State': 'Public',
   'freq': {'23-38': 146, '39-52': 115, '53-71': 69, '7-22': 129, '72+': 8},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}},
  {'State': 'OthersHome',
   'freq': {'23-38': 169, '39-52': 134, '53-71': 88, '7-22': 137, '72+': 5},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}},
  {'State': 'School',
   'freq': {'23-38': 126, '39-52': 108, '53-71': 71, '7-22': 84, '72+': 11},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}},
  {'State': 'Cafe',
   'freq': {'23-38': 73, '39-52': 25, '53-71': 13, '7-22': 317, '72+': 1},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}},
  {'State': 'Others',
   'freq': {'23-38': 23, '39-52': 19, '53-71': 7, '7-22': 9, '72+': 4},
   'sum': 2476,
   'sumbygroup': {'23-38': 579,
    '39-52': 518,
    '53-71': 597,
    '7-22': 623,
    '72+': 159}}],
 'Hawaii': [{'State': 'Home',
   'freq': {'23-38': 285, '39-52': 251, '53-71': 306, '7-22': 279, '72+': 62},
   'sum': 1808,
   'sumbygroup': {'23-38': 407,
    '39-52': 354,
    '53-71': 453,
    '7-22': 409,
    '72+': 185}},
  {'State': 'Work',
   'freq': {'23-38': 161, '39-52': 169, '53-71': 125, '7-22': 28, '72+': 8},
   'sum': 1808,
   'sumbygroup': {'23-38': 407,
    '39-52': 354,
    '53-71': 453,
    '7-22': 409,
    '72+': 185}},
  {'State': 'Travel',
   'freq': {'23-38': 173, '39-52': 146, '53-71': 128, '7-22': 101, '72+': 18},
   'sum': 1808,
   'sumbygroup': {'23-38': 407,
    '39-52': 354,
    '53-71': 453,
    '7-22': 409,
    '72+': 185}},

In [80]:
#pie_df.set_index(['statename','ageband'], inplace=True)
order = ['peinhome_count','peinwork_count','peinschl_count','peincafe_count','peintrav_count','peinlico_count','peinelho_count','peinothr_count']
sex = ['male','famale']
col_name = ['Home','Work','School','Cafe','Travel','Public','OthersHome','Others']

In [81]:
pie_sex_data = {}
for state in states:
    freqs = list()
    for i in range(len(order)):
        location = order[i]
        freq_lst = pie_sex_df.loc[pie_sex_df.statename == state][location].tolist()
        freq = dict()
        freq ['sumbygroup'] = dict(zip(sex, pie_sex_df.loc[pie_sex_df.statename == state].sex_count.tolist()))
        freq ['sum'] = pie_sex_df.loc[pie_sex_df.statename == state].sex_count.sum()
        freq['State'] = col_name[i]
        freq['freq'] = dict(zip(sex, freq_lst))
        freqs.append(freq)
    pie_sex_data[state] = freqs

In [82]:
pie_sex_data

{'Alabama': [{'State': 'Home',
   'freq': {'famale': 713, 'male': 811},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}},
  {'State': 'Work',
   'freq': {'famale': 281, 'male': 295},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}},
  {'State': 'School',
   'freq': {'famale': 160, 'male': 162},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}},
  {'State': 'Cafe',
   'freq': {'famale': 118, 'male': 149},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}},
  {'State': 'Travel',
   'freq': {'famale': 308, 'male': 341},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}},
  {'State': 'Public',
   'freq': {'famale': 143, 'male': 175},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}},
  {'State': 'OthersHome',
   'freq': {'famale': 180, 'male': 218},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}},
  {'State': 'Others',
   'freq': {'famale': 17, 'male': 19},
   'sum': 2515,
   'sumbygroup': {'famale': 1200, 'male': 1315}}],
 'Alaska': [{'State': 'Home',
   'freq': {'famale': 523, 'male': 560},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}},
  {'State': 'Work',
   'freq': {'famale': 219, 'male': 245},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}},
  {'State': 'School',
   'freq': {'famale': 133, 'male': 123},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}},
  {'State': 'Cafe',
   'freq': {'famale': 121, 'male': 142},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}},
  {'State': 'Travel',
   'freq': {'famale': 254, 'male': 275},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}},
  {'State': 'Public',
   'freq': {'famale': 128, 'male': 142},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}},
  {'State': 'OthersHome',
   'freq': {'famale': 162, 'male': 193},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}},
  {'State': 'Others',
   'freq': {'famale': 17, 'male': 17},
   'sum': 1593,
   'sumbygroup': {'famale': 787, 'male': 806}}],
 'Arizona': [{'State': 'Home',
   'freq': {'famale': 557, 'male': 686},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}},
  {'State': 'Work',
   'freq': {'famale': 230, 'male': 224},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}},
  {'State': 'School',
   'freq': {'famale': 125, 'male': 179},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}},
  {'State': 'Cafe',
   'freq': {'famale': 98, 'male': 140},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}},
  {'State': 'Travel',
   'freq': {'famale': 261, 'male': 307},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}},
  {'State': 'Public',
   'freq': {'famale': 112, 'male': 139},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}},
  {'State': 'OthersHome',
   'freq': {'famale': 155, 'male': 198},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}},
  {'State': 'Others',
   'freq': {'famale': 15, 'male': 11},
   'sum': 2058,
   'sumbygroup': {'famale': 968, 'male': 1090}}],
 'Arkansas': [{'State': 'Home',
   'freq': {'famale': 687, 'male': 748},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}},
  {'State': 'Work',
   'freq': {'famale': 266, 'male': 286},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}},
  {'State': 'School',
   'freq': {'famale': 165, 'male': 180},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}},
  {'State': 'Cafe',
   'freq': {'famale': 128, 'male': 150},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}},
  {'State': 'Travel',
   'freq': {'famale': 282, 'male': 298},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}},
  {'State': 'Public',
   'freq': {'famale': 132, 'male': 179},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}},
  {'State': 'OthersHome',
   'freq': {'famale': 193, 'male': 217},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}},
  {'State': 'Others',
   'freq': {'famale': 17, 'male': 17},
   'sum': 2352,
   'sumbygroup': {'famale': 1149, 'male': 1203}}],
 'California': [{'State': 'Home',
   'freq': {'famale': 3508, 'male': 3614},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}},
  {'State': 'Work',
   'freq': {'famale': 1467, 'male': 1325},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}},
  {'State': 'School',
   'freq': {'famale': 835, 'male': 807},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}},
  {'State': 'Cafe',
   'freq': {'famale': 887, 'male': 932},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}},
  {'State': 'Travel',
   'freq': {'famale': 1729, 'male': 1700},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}},
  {'State': 'Public',
   'freq': {'famale': 836, 'male': 968},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}},
  {'State': 'OthersHome',
   'freq': {'famale': 1079, 'male': 1188},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}},
  {'State': 'Others',
   'freq': {'famale': 92, 'male': 106},
   'sum': 11131,
   'sumbygroup': {'famale': 5428, 'male': 5703}}],
 'Colorado': [{'State': 'Home',
   'freq': {'famale': 528, 'male': 529},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}},
  {'State': 'Work',
   'freq': {'famale': 242, 'male': 248},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}},
  {'State': 'School',
   'freq': {'famale': 134, 'male': 118},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}},
  {'State': 'Cafe',
   'freq': {'famale': 164, 'male': 182},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}},
  {'State': 'Travel',
   'freq': {'famale': 284, 'male': 289},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}},
  {'State': 'Public',
   'freq': {'famale': 164, 'male': 185},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}},
  {'State': 'OthersHome',
   'freq': {'famale': 208, 'male': 210},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}},
  {'State': 'Others',
   'freq': {'famale': 16, 'male': 21},
   'sum': 1634,
   'sumbygroup': {'famale': 799, 'male': 835}}],
 'Connecticut': [{'State': 'Home',
   'freq': {'famale': 467, 'male': 491},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}},
  {'State': 'Work',
   'freq': {'famale': 215, 'male': 200},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}},
  {'State': 'School',
   'freq': {'famale': 92, 'male': 110},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}},
  {'State': 'Cafe',
   'freq': {'famale': 87, 'male': 101},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}},
  {'State': 'Travel',
   'freq': {'famale': 198, 'male': 190},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}},
  {'State': 'Public',
   'freq': {'famale': 116, 'male': 119},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}},
  {'State': 'OthersHome',
   'freq': {'famale': 156, 'male': 158},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}},
  {'State': 'Others',
   'freq': {'famale': 16, 'male': 16},
   'sum': 1355,
   'sumbygroup': {'famale': 653, 'male': 702}}],
 'Delaware': [{'State': 'Home',
   'freq': {'famale': 439, 'male': 471},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}},
  {'State': 'Work',
   'freq': {'famale': 189, 'male': 212},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}},
  {'State': 'School',
   'freq': {'famale': 99, 'male': 113},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}},
  {'State': 'Cafe',
   'freq': {'famale': 86, 'male': 87},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}},
  {'State': 'Travel',
   'freq': {'famale': 180, 'male': 178},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}},
  {'State': 'Public',
   'freq': {'famale': 113, 'male': 116},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}},
  {'State': 'OthersHome',
   'freq': {'famale': 128, 'male': 137},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}},
  {'State': 'Others',
   'freq': {'famale': 12, 'male': 9},
   'sum': 1333,
   'sumbygroup': {'famale': 644, 'male': 689}}],
 'District of Columbia': [{'State': 'Home',
   'freq': {'famale': 604, 'male': 659},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}},
  {'State': 'Work',
   'freq': {'famale': 377, 'male': 419},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}},
  {'State': 'School',
   'freq': {'famale': 115, 'male': 121},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}},
  {'State': 'Cafe',
   'freq': {'famale': 260, 'male': 294},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}},
  {'State': 'Travel',
   'freq': {'famale': 387, 'male': 430},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}},
  {'State': 'Public',
   'freq': {'famale': 229, 'male': 289},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}},
  {'State': 'OthersHome',
   'freq': {'famale': 298, 'male': 322},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}},
  {'State': 'Others',
   'freq': {'famale': 30, 'male': 39},
   'sum': 1880,
   'sumbygroup': {'famale': 880, 'male': 1000}}],
 'Florida': [{'State': 'Home',
   'freq': {'famale': 1591, 'male': 1808},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}},
  {'State': 'Work',
   'freq': {'famale': 658, 'male': 658},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}},
  {'State': 'School',
   'freq': {'famale': 303, 'male': 376},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}},
  {'State': 'Cafe',
   'freq': {'famale': 309, 'male': 338},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}},
  {'State': 'Travel',
   'freq': {'famale': 672, 'male': 724},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}},
  {'State': 'Public',
   'freq': {'famale': 341, 'male': 427},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}},
  {'State': 'OthersHome',
   'freq': {'famale': 362, 'male': 451},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}},
  {'State': 'Others',
   'freq': {'famale': 22, 'male': 23},
   'sum': 5377,
   'sumbygroup': {'famale': 2559, 'male': 2818}}],
 'Georgia': [{'State': 'Home',
   'freq': {'famale': 784, 'male': 932},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}},
  {'State': 'Work',
   'freq': {'famale': 335, 'male': 340},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}},
  {'State': 'School',
   'freq': {'famale': 230, 'male': 237},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}},
  {'State': 'Cafe',
   'freq': {'famale': 183, 'male': 222},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}},
  {'State': 'Travel',
   'freq': {'famale': 387, 'male': 446},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}},
  {'State': 'Public',
   'freq': {'famale': 229, 'male': 263},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}},
  {'State': 'OthersHome',
   'freq': {'famale': 260, 'male': 297},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}},
  {'State': 'Others',
   'freq': {'famale': 27, 'male': 38},
   'sum': 2727,
   'sumbygroup': {'famale': 1282, 'male': 1445}}],
 'Hawaii': [{'State': 'Home',
   'freq': {'famale': 608, 'male': 641},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}},
  {'State': 'Work',
   'freq': {'famale': 245, 'male': 248},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}},
  {'State': 'School',
   'freq': {'famale': 135, 'male': 141},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}},
  {'State': 'Cafe',
   'freq': {'famale': 142, 'male': 139},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}},
  {'State': 'Travel',
   'freq': {'famale': 283, 'male': 294},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}},
  {'State': 'Public',
   'freq': {'famale': 159, 'male': 166},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}},
  {'State': 'OthersHome',
   'freq': {'famale': 178, 'male': 179},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}},
  {'State': 'Others',
   'freq': {'famale': 13, 'male': 11},
   'sum': 1996,
   'sumbygroup': {'famale': 967, 'male': 1029}}],
 'Idaho': [{'State': 'Home',
   'freq': {'famale': 718, 'male': 724},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}},
  {'State': 'Work',
   'freq': {'famale': 316, 'male': 266},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}},
  {'State': 'School',
   'freq': {'famale': 160, 'male': 182},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}},
  {'State': 'Cafe',
   'freq': {'famale': 185, 'male': 175},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}},
  {'State': 'Travel',
   'freq': {'famale': 347, 'male': 365},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}},
  {'State': 'Public',
   'freq': {'famale': 169, 'male': 172},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}},
  {'State': 'OthersHome',
   'freq': {'famale': 251, 'male': 259},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}},
  {'State': 'Others',
   'freq': {'famale': 21, 'male': 20},
   'sum': 1968,
   'sumbygroup': {'famale': 986, 'male': 982}}],
 'Illinois': [{'State': 'Home',
   'freq': {'famale': 1366, 'male': 1478},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}},
  {'State': 'Work',
   'freq': {'famale': 581, 'male': 617},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}},
  {'State': 'School',
   'freq': {'famale': 332, 'male': 351},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}},
  {'State': 'Cafe',
   'freq': {'famale': 340, 'male': 396},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}},
  {'State': 'Travel',
   'freq': {'famale': 706, 'male': 727},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}},
  {'State': 'Public',
   'freq': {'famale': 338, 'male': 438},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}},
  {'State': 'OthersHome',
   'freq': {'famale': 455, 'male': 537},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}},
  {'State': 'Others',
   'freq': {'famale': 42, 'male': 50},
   'sum': 3886,
   'sumbygroup': {'famale': 1861, 'male': 2025}}],
 'Indiana': [{'State': 'Home',
   'freq': {'famale': 630, 'male': 691},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}},
  {'State': 'Work',
   'freq': {'famale': 272, 'male': 272},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}},
  {'State': 'School',
   'freq': {'famale': 143, 'male': 149},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}},
  {'State': 'Cafe',
   'freq': {'famale': 141, 'male': 149},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}},
  {'State': 'Travel',
   'freq': {'famale': 270, 'male': 314},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}},
  {'State': 'Public',
   'freq': {'famale': 159, 'male': 168},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}},
  {'State': 'OthersHome',
   'freq': {'famale': 195, 'male': 211},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}},
  {'State': 'Others',
   'freq': {'famale': 23, 'male': 23},
   'sum': 1926,
   'sumbygroup': {'famale': 940, 'male': 986}}],
 'Iowa': [{'State': 'Home',
   'freq': {'famale': 465, 'male': 525},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}},
  {'State': 'Work',
   'freq': {'famale': 231, 'male': 225},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}},
  {'State': 'School',
   'freq': {'famale': 114, 'male': 133},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}},
  {'State': 'Cafe',
   'freq': {'famale': 108, 'male': 141},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}},
  {'State': 'Travel',
   'freq': {'famale': 207, 'male': 239},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}},
  {'State': 'Public',
   'freq': {'famale': 127, 'male': 158},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}},
  {'State': 'OthersHome',
   'freq': {'famale': 180, 'male': 226},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}},
  {'State': 'Others',
   'freq': {'famale': 14, 'male': 14},
   'sum': 1439,
   'sumbygroup': {'famale': 712, 'male': 727}}],
 'Kansas': [{'State': 'Home',
   'freq': {'famale': 454, 'male': 498},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}},
  {'State': 'Work',
   'freq': {'famale': 205, 'male': 194},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}},
  {'State': 'School',
   'freq': {'famale': 110, 'male': 138},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}},
  {'State': 'Cafe',
   'freq': {'famale': 88, 'male': 99},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}},
  {'State': 'Travel',
   'freq': {'famale': 217, 'male': 229},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}},
  {'State': 'Public',
   'freq': {'famale': 91, 'male': 102},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}},
  {'State': 'OthersHome',
   'freq': {'famale': 133, 'male': 165},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}},
  {'State': 'Others',
   'freq': {'famale': 16, 'male': 6},
   'sum': 1512,
   'sumbygroup': {'famale': 731, 'male': 781}}],
 'Kentucky': [{'State': 'Home',
   'freq': {'famale': 563, 'male': 591},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}},
  {'State': 'Work',
   'freq': {'famale': 201, 'male': 233},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}},
  {'State': 'School',
   'freq': {'famale': 132, 'male': 124},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}},
  {'State': 'Cafe',
   'freq': {'famale': 116, 'male': 124},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}},
  {'State': 'Travel',
   'freq': {'famale': 262, 'male': 257},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}},
  {'State': 'Public',
   'freq': {'famale': 120, 'male': 137},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}},
  {'State': 'OthersHome',
   'freq': {'famale': 206, 'male': 200},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}},
  {'State': 'Others',
   'freq': {'famale': 12, 'male': 9},
   'sum': 1767,
   'sumbygroup': {'famale': 864, 'male': 903}}],
 'Louisiana': [{'State': 'Home',
   'freq': {'famale': 860, 'male': 983},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}},
  {'State': 'Work',
   'freq': {'famale': 370, 'male': 409},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}},
  {'State': 'School',
   'freq': {'famale': 220, 'male': 218},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}},
  {'State': 'Cafe',
   'freq': {'famale': 148, 'male': 181},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}},
  {'State': 'Travel',
   'freq': {'famale': 407, 'male': 447},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}},
  {'State': 'Public',
   'freq': {'famale': 207, 'male': 268},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}},
  {'State': 'OthersHome',
   'freq': {'famale': 289, 'male': 335},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}},
  {'State': 'Others',
   'freq': {'famale': 11, 'male': 15},
   'sum': 2946,
   'sumbygroup': {'famale': 1431, 'male': 1515}}],
 'Maine': [{'State': 'Home',
   'freq': {'famale': 406, 'male': 409},
   'sum': 1152,
   'sumbygroup': {'famale': 584, 'male': 568}},
  {'State': 'Work',
   'freq': {'famale': 175, 'male': 171},
   'sum': 1152,
   'sumbygroup': {'famale': 584, 'male': 568}},
  {'State': 'School',
   'freq': {'famale': 96, 'male': 73},
   'sum': 1152,

In [68]:
pie_sex_df.loc[pie_sex_df.statename == 'Washington'].sex_count

94    1214
95    1198
Name: sex_count, dtype: int64

In [67]:
pie_df.loc[pie_df.statename == 'Washington']

,statename,ageband,age_count,peinothr_count,peinschl_count,peincafe_count,peinelho_count,peinlico_count,peintrav_count,peinwork_count,peinhome_count
235,Washington,07-22,449,4,212,78,140,115,123,20,314
236,Washington,23-38,532,16,35,168,202,137,295,262,428
237,Washington,39-52,433,10,10,130,130,111,241,218,340
238,Washington,53-71,587,16,9,109,130,91,217,193,433
239,Washington,72+,180,1,2,10,23,15,27,6,89

In [61]:
pie_sex_data

{'Alabama': [{'State': 'Home',
   'freq': {'famale': 713, 'male': 811},
   'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 281, 'male': 295}, 'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 160, 'male': 162}, 'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 118, 'male': 149}, 'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 308, 'male': 341}, 'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 143, 'male': 175}, 'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 180, 'male': 218},
   'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 17, 'male': 19}, 'sum': 0    1315
   1    1200
   Name: sex_count, dtype: int64}],
 'Alaska': [{'State': 'Home',
   'freq': {'famale': 523, 'male': 560},
   'sum': 2    806
   3    787
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 219, 'male': 245}, 'sum': 2    806
   3    787
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 133, 'male': 123}, 'sum': 2    806
   3    787
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 121, 'male': 142}, 'sum': 2    806
   3    787
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 254, 'male': 275}, 'sum': 2    806
   3    787
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 128, 'male': 142}, 'sum': 2    806
   3    787
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome', 'freq': {'famale': 162, 'male': 193}, 'sum': 2    806
   3    787
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 17, 'male': 17}, 'sum': 2    806
   3    787
   Name: sex_count, dtype: int64}],
 'Arizona': [{'State': 'Home',
   'freq': {'famale': 557, 'male': 686},
   'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 230, 'male': 224}, 'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 125, 'male': 179}, 'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 98, 'male': 140}, 'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 261, 'male': 307}, 'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 112, 'male': 139}, 'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 155, 'male': 198},
   'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 15, 'male': 11}, 'sum': 4    1090
   5     968
   Name: sex_count, dtype: int64}],
 'Arkansas': [{'State': 'Home',
   'freq': {'famale': 687, 'male': 748},
   'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 266, 'male': 286}, 'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 165, 'male': 180}, 'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 128, 'male': 150}, 'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 282, 'male': 298}, 'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 132, 'male': 179}, 'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 193, 'male': 217},
   'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 17, 'male': 17}, 'sum': 6    1203
   7    1149
   Name: sex_count, dtype: int64}],
 'California': [{'State': 'Home',
   'freq': {'famale': 3508, 'male': 3614},
   'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 1467, 'male': 1325}, 'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 835, 'male': 807}, 'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 887, 'male': 932}, 'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 1729, 'male': 1700}, 'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 836, 'male': 968}, 'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 1079, 'male': 1188},
   'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 92, 'male': 106}, 'sum': 8    5703
   9    5428
   Name: sex_count, dtype: int64}],
 'Colorado': [{'State': 'Home',
   'freq': {'famale': 528, 'male': 529},
   'sum': 10    835
   11    799
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 242, 'male': 248}, 'sum': 10    835
   11    799
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 134, 'male': 118}, 'sum': 10    835
   11    799
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 164, 'male': 182}, 'sum': 10    835
   11    799
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 284, 'male': 289}, 'sum': 10    835
   11    799
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 164, 'male': 185}, 'sum': 10    835
   11    799
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 208, 'male': 210},
   'sum': 10    835
   11    799
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 16, 'male': 21}, 'sum': 10    835
   11    799
   Name: sex_count, dtype: int64}],
 'Connecticut': [{'State': 'Home',
   'freq': {'famale': 467, 'male': 491},
   'sum': 12    702
   13    653
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 215, 'male': 200}, 'sum': 12    702
   13    653
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 92, 'male': 110}, 'sum': 12    702
   13    653
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 87, 'male': 101}, 'sum': 12    702
   13    653
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 198, 'male': 190}, 'sum': 12    702
   13    653
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 116, 'male': 119}, 'sum': 12    702
   13    653
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 156, 'male': 158},
   'sum': 12    702
   13    653
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 16, 'male': 16}, 'sum': 12    702
   13    653
   Name: sex_count, dtype: int64}],
 'Delaware': [{'State': 'Home',
   'freq': {'famale': 439, 'male': 471},
   'sum': 14    689
   15    644
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 189, 'male': 212}, 'sum': 14    689
   15    644
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 99, 'male': 113}, 'sum': 14    689
   15    644
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 86, 'male': 87}, 'sum': 14    689
   15    644
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 180, 'male': 178}, 'sum': 14    689
   15    644
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 113, 'male': 116}, 'sum': 14    689
   15    644
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 128, 'male': 137},
   'sum': 14    689
   15    644
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 12, 'male': 9}, 'sum': 14    689
   15    644
   Name: sex_count, dtype: int64}],
 'District of Columbia': [{'State': 'Home',
   'freq': {'famale': 604, 'male': 659},
   'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 377, 'male': 419}, 'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 115, 'male': 121}, 'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 260, 'male': 294}, 'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 387, 'male': 430}, 'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 229, 'male': 289}, 'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 298, 'male': 322},
   'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 30, 'male': 39}, 'sum': 16    1000
   17     880
   Name: sex_count, dtype: int64}],
 'Florida': [{'State': 'Home',
   'freq': {'famale': 1591, 'male': 1808},
   'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 658, 'male': 658}, 'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 303, 'male': 376}, 'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 309, 'male': 338}, 'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 672, 'male': 724}, 'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 341, 'male': 427}, 'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 362, 'male': 451},
   'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 22, 'male': 23}, 'sum': 18    2818
   19    2559
   Name: sex_count, dtype: int64}],
 'Georgia': [{'State': 'Home',
   'freq': {'famale': 784, 'male': 932},
   'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 335, 'male': 340}, 'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 230, 'male': 237}, 'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 183, 'male': 222}, 'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 387, 'male': 446}, 'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 229, 'male': 263}, 'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 260, 'male': 297},
   'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 27, 'male': 38}, 'sum': 20    1445
   21    1282
   Name: sex_count, dtype: int64}],
 'Hawaii': [{'State': 'Home',
   'freq': {'famale': 608, 'male': 641},
   'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 245, 'male': 248}, 'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 135, 'male': 141}, 'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 142, 'male': 139}, 'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 283, 'male': 294}, 'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 159, 'male': 166}, 'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 178, 'male': 179},
   'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 13, 'male': 11}, 'sum': 22    1029
   23     967
   Name: sex_count, dtype: int64}],
 'Idaho': [{'State': 'Home',
   'freq': {'famale': 718, 'male': 724},
   'sum': 24    982
   25    986
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 316, 'male': 266}, 'sum': 24    982
   25    986
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 160, 'male': 182}, 'sum': 24    982
   25    986
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 185, 'male': 175}, 'sum': 24    982
   25    986
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 347, 'male': 365}, 'sum': 24    982
   25    986
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 169, 'male': 172}, 'sum': 24    982
   25    986
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 251, 'male': 259},
   'sum': 24    982
   25    986
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 21, 'male': 20}, 'sum': 24    982
   25    986
   Name: sex_count, dtype: int64}],
 'Illinois': [{'State': 'Home',
   'freq': {'famale': 1366, 'male': 1478},
   'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 581, 'male': 617}, 'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 332, 'male': 351}, 'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 340, 'male': 396}, 'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 706, 'male': 727}, 'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 338, 'male': 438}, 'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 455, 'male': 537},
   'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 42, 'male': 50}, 'sum': 26    2025
   27    1861
   Name: sex_count, dtype: int64}],
 'Indiana': [{'State': 'Home',
   'freq': {'famale': 630, 'male': 691},
   'sum': 28    986
   29    940
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 272, 'male': 272}, 'sum': 28    986
   29    940
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 143, 'male': 149}, 'sum': 28    986
   29    940
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 141, 'male': 149}, 'sum': 28    986
   29    940
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 270, 'male': 314}, 'sum': 28    986
   29    940
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 159, 'male': 168}, 'sum': 28    986
   29    940
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 195, 'male': 211},
   'sum': 28    986
   29    940
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 23, 'male': 23}, 'sum': 28    986
   29    940
   Name: sex_count, dtype: int64}],
 'Iowa': [{'State': 'Home',
   'freq': {'famale': 465, 'male': 525},
   'sum': 30    727
   31    712
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 231, 'male': 225}, 'sum': 30    727
   31    712
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 114, 'male': 133}, 'sum': 30    727
   31    712
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 108, 'male': 141}, 'sum': 30    727
   31    712
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 207, 'male': 239}, 'sum': 30    727
   31    712
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 127, 'male': 158}, 'sum': 30    727
   31    712
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 180, 'male': 226},
   'sum': 30    727
   31    712
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 14, 'male': 14}, 'sum': 30    727
   31    712
   Name: sex_count, dtype: int64}],
 'Kansas': [{'State': 'Home',
   'freq': {'famale': 454, 'male': 498},
   'sum': 32    781
   33    731
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 205, 'male': 194}, 'sum': 32    781
   33    731
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 110, 'male': 138}, 'sum': 32    781
   33    731
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 88, 'male': 99}, 'sum': 32    781
   33    731
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 217, 'male': 229}, 'sum': 32    781
   33    731
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 91, 'male': 102}, 'sum': 32    781
   33    731
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 133, 'male': 165},
   'sum': 32    781
   33    731
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 16, 'male': 6}, 'sum': 32    781
   33    731
   Name: sex_count, dtype: int64}],
 'Kentucky': [{'State': 'Home',
   'freq': {'famale': 563, 'male': 591},
   'sum': 34    903
   35    864
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 201, 'male': 233}, 'sum': 34    903
   35    864
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 132, 'male': 124}, 'sum': 34    903
   35    864
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 116, 'male': 124}, 'sum': 34    903
   35    864
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 262, 'male': 257}, 'sum': 34    903
   35    864
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 120, 'male': 137}, 'sum': 34    903
   35    864
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 206, 'male': 200},
   'sum': 34    903
   35    864
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 12, 'male': 9}, 'sum': 34    903
   35    864
   Name: sex_count, dtype: int64}],
 'Louisiana': [{'State': 'Home',
   'freq': {'famale': 860, 'male': 983},
   'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 370, 'male': 409}, 'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 220, 'male': 218}, 'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 148, 'male': 181}, 'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64},
  {'State': 'Travel', 'freq': {'famale': 407, 'male': 447}, 'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64},
  {'State': 'Public', 'freq': {'famale': 207, 'male': 268}, 'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64},
  {'State': 'OthersHome',
   'freq': {'famale': 289, 'male': 335},
   'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64},
  {'State': 'Others', 'freq': {'famale': 11, 'male': 15}, 'sum': 36    1515
   37    1431
   Name: sex_count, dtype: int64}],
 'Maine': [{'State': 'Home',
   'freq': {'famale': 406, 'male': 409},
   'sum': 38    568
   39    584
   Name: sex_count, dtype: int64},
  {'State': 'Work', 'freq': {'famale': 175, 'male': 171}, 'sum': 38    568
   39    584
   Name: sex_count, dtype: int64},
  {'State': 'School', 'freq': {'famale': 96, 'male': 73}, 'sum': 38    568
   39    584
   Name: sex_count, dtype: int64},
  {'State': 'Cafe', 'freq': {'famale': 106, 'male': 90}, 'sum': 38    568
   39    584
   Name: sex_count, dtype: int64},

In [ ]:
np.mean([1,23])